@font-face {
    font-family: 'a_FuturaRound';
    src: url('https://перекресток.барни.рф/fonts/AFuturaRound.eot');
    src: url('https://перекресток.барни.рф/fonts/AFuturaRound.eot?#iefix') format('embedded-opentype'),
        url('https://перекресток.барни.рф/fonts/AFuturaRound.woff2') format('woff2'),
        url('https://перекресток.барни.рф/fonts/AFuturaRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_FuturaRound';
    src: url('https://перекресток.барни.рф/fonts/AFuturaRoundBold.eot');
    src: url('https://перекресток.барни.рф/fonts/AFuturaRoundBold.eot?#iefix') format('embedded-opentype'),
        url('https://перекресток.барни.рф/fonts/AFuturaRoundBold.woff2') format('woff2'),
        url('https://перекресток.барни.рф/fonts/AFuturaRoundBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'a_FuturaRound';
    font-weight: normal;
    font-style: normal;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
    color: #572A13;
}

.container.uf-container.container--custom {
    color: #572A13;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
}

@media screen and (max-width:320px) {
    .container.uf-container.container--custom {
        width: 260px;
    }
}

.container.uf-container.container--custom::-webkit-scrollbar {
    width: 0;
}

.container-tutorial__text {
    font-family: 'a_FuturaRound';
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.container-tutorial__text p {
    margin-bottom: 20px;
}

.dropzone .dz-message {
    font-weight: 300;
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: transparent;
    border: 2px solid #572A13;
    text-align: center;
    border-radius: 30px;
}

.dropzone.dropzone--custom.dz-clickable.dz-started {
    border: 2px solid transparent;
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
    border-radius: 0;
    border: 0;
}

@media screen and (max-width:768px) {
    .dropzone .dz-preview.dz-image-preview {
        width: 200px;
    }
}

.dropzone .dz-preview .dz-image {
    width: 200px;
    height: 200px;
    border-radius: 0 !important;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 0 !important;
    font-weight: bold;
    background-color: #E51435;
    border-color: #E51435;
    width: 23px;
    height: 23px;
    line-height: 30px;
    padding: 0;
    border-radius: 23px;
    z-index: 21;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-decoration: none;
    overflow: hidden;
}

.dropzone .dz-preview .dz-remove::before {
    content: 'X';
    position: absolute;
    left: 0;
    right: 0;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
}

.dropzone .dz-preview .dz-remove:hover {
    background: #E51435, 90%;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 290px;
    width: auto;
    height: 70px;
    margin: auto;
    padding: 22px 40px;
    font-weight: bold;
    font-size: 26px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #2FBBE5;
    border-radius: 30px;
    border: none;
    z-index: 1;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

.uf-button-submit.button-submit--custom:hover,
.uf-button-submit.button-submit--custom:focus {
    background: #A1E2FF;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin: 20px 0;
}

.dropzone.dz-started .dz-message span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 30px;
    margin: auto;
    padding: 7px 10px;
    background: transparent;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #572A13;
    border: 1px solid #572A13;
    border-radius: 33px;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    margin: auto;
    padding: 7px 10px;
    background: transparent;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #572A13;
    border: 1px solid #572A13;
    border-radius: 33px;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

.dropzone.dz-started .dz-message span:hover {
    opacity: .9;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    opacity: .9;
}

.uf-controls-wrapper {
    position: relative;
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    max-width: 260px;
    width: 100%;
    height: 48px;
    padding-left: 20px !important;
    font-family: 'a_FuturaRound';
    font-size: 14px;
    line-height: 1;
    color: #572A13;
    background: #A1E2FF;
    border: 1px solid transparent;
    border-radius: 33px;
    transition: all .2s linear;
    margin: 10px auto;
    box-sizing: border-box;
    box-shadow: none;
}

.uf-controls-wrapper .form-control:focus {
    border: 1px solid #81b5cc;
}

.input-group.date {
    /*overflow: hidden;*/
    margin: 10px auto;
    width: 100%;
    min-width: 220px;
    max-width: 260px;
}

.input-group.date input {
    margin: 0;
    min-width: 220px;
}

.input-group.date .input-group-addon {
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border: 1px solid #C4C4C4;
    border-left: none;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em;
}

.angular-uf-container.angular-uf-message p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #572A13;
    margin-bottom: 20px;
}

zxing-scanner {
    border-color: #2FBBE5 !important;
    border: 2px solid;
    width: 200px !important;
    height: 200px !important;
    margin: 0 auto 20px !important;
    border-radius: 30px;
}

app-root button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 290px;
    width: auto;
    height: 70px;
    margin: auto;
    padding: 22px 40px;
    font-weight: bold;
    font-size: 26px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #2FBBE5;
    border-radius: 30px;
    border: none;
    z-index: 1;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

app-root button:hover {
    opacity: .9;
}

dropzone {
    max-width: 220px;
    min-height: 156px;
    border: 1px solid #572A13;
    background: #fff;
    border-radius: 30px;
    margin: 0 auto 25px;
}

app-root dropzone>.dropzone.dz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #572A13;
    padding: 10px;
}

app-root dropzone>.dropzone.dz-wrapper .dz-message {
    border: none;
    background: none;
    margin: 3rem 0;
}

app-root dropzone>.dropzone.dz-wrapper.dz-started .dz-message {
    order: 1;
    margin: 20px 0;
}

.angular-uf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-root select {
    width: 290px;
    height: 32px;
    margin: 0 auto 20px;
    padding: 0 20px 0 10px;
    border: 1px solid transparent;
    background: #A1E2FF;
    border-radius: 20px;
}

app-root .dropzone .dz-preview.dz-image-preview {
    width: 100px;
    height: 100px;
}

app-root .dropzone .dz-preview .dz-image {
    width: 100px;
    height: 100px;
}